<div class="col-lg-6 feature-desc">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <section id="features" class="white-section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 feature-desc">
                          <image src="{{url_for('static',filename = 'assets/11.png')}}" alt="sry" class="title-image"></image>
                            
                            
                           
                        </div>
                        <div class="col-lg-9 feature-desc">
                            
                            
                            
                            <p id="p1">try signit's indian sign language interpreter for free- alphabets version</p>
                            <a class="btn colored-section" href="#">click here to start  alphabets section</a>
                        </div>
                       
                        
                    </div>
                </div>
            </section>
        </div>
        <div class="carousel-item">
            <section id="features" class="white-section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 feature-desc">
                          <image src="{{url_for('static',filename = 'assets/14.png')}}" alt="sry" class="title-image"></image>
                            
                        
                            
                        </div>
                        <div class="col-lg-8 feature-desc">
                            
                            
                            
                            <p id="p1">try indian sign language interpreter for free <strong>after login</strong>- words version
                                {% if current_user.is_authenticated %}<a class="btn colored-section" href="#">click here to start  word section</a>
                                {% else %}
                                <a class="btn colored-section" href="{{ url_for('users.login') }}">click here to start  word section</a>
                                {% endif %}
                        </div>
                       
                        
                    </div>
                </div>
            </section>
        
        </div>
       
      </div>
      <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span  aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span  aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>